<a href="https://colab.research.google.com/github/choudharyaditya917-source/adi/blob/main/aditya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hi")

hi

In [ ]:
print("hello d")

In [ ]:
#hi i am writing program for hello world

In [ ]:
"""hi
hlo
how are you"""

'hi\nhlo\nhow are you'

In [ ]:
'''hi
hlo
how are you'''

'hi\nhlo\nhow are you'

In [ ]:
print("my name is aditya")

my name is aditya

In [ ]:
name="aditya"
print("name.       :   ", name)
print("Name        :  Aditya")
print("age            :  23")
print("Father's name  :  Gurmeet singh")
print("Mother's name  :  Shashi  kanta")
print("Email    id    :  choudharyaditya917@gmail.com")
print("mobile   no    :  7876161568")
print("education      :  BSC Physics")
print("Address        :  vpo marwari distt.UNA(HP)")

name.       :    aditya
Name        :  Aditya
age            :  23
Father's name  :  Gurmeet singh
Mother's name  :  Shashi  kanta
Email    id    :  choudharyaditya917@gmail.com
mobile   no    :  7876161568
education      :  BSC Physics
Address        :  vpo marwari distt.UNA(HP)

In [ ]:
name="aditya"
print("name.        : ",name)
age="23"
print("age.         : ",age)
father_name="gurmeet singh"
print("father_name. : ",father_name)
mother_name="shashi kanta"
print("mother_name. : ",mother_name)
email_id="choudharyaditya917@gmail.com"
print("email_id.    : ",email_id)
mobile_no="7876161568"
print("mobile_no.   : ",mobile_no)

name.        :  aditya
age.         :  23
father_name. :  gurmeet singh
mother_name. :  shashi kanta
email_id.    :  choudharyaditya917@gmail.com
mobile_no.   :  7876161568

In [ ]:
item1="pizza"
price_of_item1=500
item2="burger"
price_of_item2=100
item3="cake"
price_of_item3=200
item4="shakes"
price_of_item4=500
item5="sandwich"
price_of_item5=150

total_bill=price_of_item1+price_of_item2+price_of_item3+price_of_item4+price_of_item5

print(item1,":",price_of_item1,"Rs")
print(item2,":",price_of_item2,"Rs")
print(item3,":",price_of_item3,"Rs")
print(item4,":",price_of_item4,"Rs")
print(item5,":",price_of_item5,"Rs")
print("total_bill:",total_bill,"Rs")

pizza : 500 Rs
burger : 100 Rs
cake : 200 Rs
shakes : 500 Rs
sandwich : 150 Rs
total_bill: 1450 Rs

In [ ]:
price = 1000
discount =20
discount=(price*discount)/100
final_price=price-discount

print("price:",price,"Rs")
print("discount:",discount,"Rs")
print("final_price:",final_price,"Rs")

price: 1000 Rs
discount: 200.0 Rs
final_price: 800.0 Rs

In [ ]:
item1=input("burger")
print(item1)
price_of_item1=int(input("300"))
print(price_of_item1)

burger50
50
30020
20

In [ ]:
# item 1
item1=input("enter item1:" )
price_of_item1=float(input("enter price of item1:"))
discount=float(input("enter item1 discount(%):"))
discount_item1=(price_of_item1*discount)/100
final_price_item1=price_of_item1-discount_item1
print(item1,":",price_of_item1,"Rs")
print(discount_item1,"Rs")
print(final_price_item1,"Rs")

enter item1:car
enter price of item1:700000
enter item1 discount(%):35
car : 700000.0 Rs
245000.0 Rs
455000.0 Rs

In [ ]:
#item 2
item2 = input("enter item2:")
price_of_item2 = float(input("enter price of item2:"))
discount = float(input("enter item2 discount(%):"))
discount_item2 = (price_of_item2 * discount) / 100
final_price_item2 = price_of_item2 - discount_item2
print(item2, ":", price_of_item2, "Rs")
print(discount_item2, "Rs")
print(final_price_item2, "Rs")

enter item2:bike
enter price of item2:250000
enter item2 discount(%):18
bike : 250000.0 Rs
45000.0 Rs
205000.0 Rs

In [ ]:
#item 3
item3 = input("enter item3:")
price_of_item3 = float (input("enter price of item3:"))
discount = float (input("enter item3 discount(%):"))
discount_item3 = (price_of_item3 * discount) / 100
final_price_item3 = price_of_item3 - discount_item3
print(item3, ":", price_of_item3, "Rs")
print(discount_item3, "Rs")
print(final_price_item3, "Rs")

enter item3: shoes
enter price of item3:14000
enter item3 discount(%):45
 shoes : 14000.0 Rs
6300.0 Rs
7700.0 Rs

In [ ]:
#product 1
name_of_product=input("enter name of product1:")
price_of_product=float(input("enter price of product1:"))
discount1=float(input("enter discount(%):"))
payable1=price_of_product-(price_of_product*discount1)/100
print(name_of_product,":",price_of_product,"Rs")
print(discount1,"Rs")
print(payable1,"Rs")

enter name of product1:washing machine
enter price of product1:15000
enter discount(%):20
washing machine : 15000.0 Rs
20.0 Rs
12000.0 Rs

In [ ]:
# product 2
name_of_product=input("enter name of product2:")
price_of_product=float(input("enter price of product2:"))
discount2=float(input("enter discount(%):"))
payable2=price_of_product-(price_of_product*discount2)/100
print(name_of_product,":",price_of_product,"Rs")
print(discount2,"%")
print(payable2,"Rs")

enter name of product2:iphone
enter price of product2: 140000
enter discount(%):12
iphone : 140000.0 Rs
12.0 %
123200.0 Rs

In [ ]:
num = 5
if num% 2==0:
  print(" is an even .")
else:
  print("is an odd .")

is an odd .

In [ ]:
marks = 75
if marks >=90:
  grade = "A"
elif marks >=80:
  grade ="B"
elif marks >=70:
  grade ="C"
elif marks >=60:
  grade ="D"
elif marks >=50:
  grade ="E"
else:
  grade ="F"

print( "yours grade is:",grade)

yours grade is: C

In [ ]:
gender = input("Enter gender (male/female): ").lower()

if gender == "male":
  age = int(input("Enter age: "))
  if age >= 30:
    print("Location: hotel_a_building1")
  else:
    print("Location: hotel_a_building2")
elif gender == "female":
  age = int(input("Enter age: "))
  if age <= 30:
    print("Location: hotel_b_building1")
  else:
    print("Location: hotel_b_building2")
else:
  print("Invalid gender entered.")

Enter gender (male/female): male
Enter age: 25
Location: hotel_a_building2

In [ ]:
month = input("Enter month name: ").lower()
year = int(input("Enter year: "))

if month in ["april", "june", "september", "november"]:
  print(month.title(), "has 30 days")
elif month in ["january" , "march","may","july","august","october","december"]:
  print(month.title(), "has 31 days")
elif month == "february":
  if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
    print(month.title(), "has 29 days in", year)
  else:
    print(month.title(), "has 28 days in", year)
else:
  print(month.title(), "is not a valid month name")

Enter month name: february
Enter year: 7008
February has 29 days in 7008

In [ ]:
import time
directions = ["north","east","south","west"]

while True:
  for d in directions:
    print("\n traffic lights")
    for i in directions:
      if i==d:
        print(i,"green")
      else:
        print(i,"red")
    time.sleep(5)

 traffic lights
north green
east red
south red
west red

 traffic lights
north red
east green
south red
west red

 traffic lights
north red
east red
south green
west red

 traffic lights
north red
east red
south red
west green

 traffic lights
north green
east red
south red
west red

 traffic lights
north red
east green
south red
west red

 traffic lights
north red
east red
south green
west red

 traffic lights
north red
east red
south red
west green

In [ ]:
for i in range (5):
  print("hello world")

hello world
hello world
hello world
hello world
hello world

In [ ]:
for i in range (10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range(1,25):
  if i % 2 == 0:
    print(even, "is even")
  else:
    print(i, "is odd")

1 is odd
24 is even
3 is odd
24 is even
5 is odd
24 is even
7 is odd
24 is even
9 is odd
24 is even
11 is odd
24 is even
13 is odd
24 is even
15 is odd
24 is even
17 is odd
24 is even
19 is odd
24 is even
21 is odd
24 is even
23 is odd
24 is even

In [ ]:
for odd in range(1,25):
  if odd % 2 != 0:
    print(odd, "is odd")

1 is odd
3 is odd
5 is odd
7 is odd
9 is odd
11 is odd
13 is odd
15 is odd
17 is odd
19 is odd
21 is odd
23 is odd

In [ ]:
total_sum = 0
for i in range(1,11):
  total_sum = total_sum +i
  print(total_sum)

1
3
6
10
15
21
28
36
45
55

In [ ]:
sum1 = 0
for i in range(2,52,2):
  sum1 +=i
print("sum of 2 + 4 + 6.....+51=",sum)

sum of 2 + 4 + 6.....+51= 650

In [ ]:
sum2 = 0
for i in range(1, 101 ,7):
  sum2 +=i
print("sum of 1 + 8 + 15 + 22 + 29 +.......+100 =",sum2)

sum of 1 + 8 + 15 + 22 + 29 +.......+100 = 750

In [ ]:
sum3 = 0
for i in range(3,51,3):
  sum3 += i
print("sum of 3 + 6 + 9 +......+ 50 =",sum3)

sum of 3 + 6 + 9 +......+ 50 = 408

In [ ]:
fact = 1
for i in range(1,6):
  fact = fact*i
  print("factorial of 5 is :",fact)

factorial of 5 is : 1
factorial of 5 is : 2
factorial of 5 is : 6
factorial of 5 is : 24
factorial of 5 is : 120

In [ ]:
sum1 = 0
fact = 1

for i in range(1, 7):
    fact = fact * i
    print(f"{i}! = {fact}")
    sum1 += fact
print("sum of 1!+2!+3!+4!+5!+6! =", sum1)

1! = 1
2! = 2
3! = 6
4! = 24
5! = 120
6! = 720
sum of 1!+2!+3!+4!+5!+6! = 873

In [ ]:

sum2 = 0
fact = 1

for i in range(1 , j+1):
    fact = fact * i

    sum= sum +fact
print(sum)

4! = 4
5! = 20
6! = 120
7! = 840
8! = 6720
9! = 60480
10! = 604800
sum of 4!+5!+6!+7!+8!+9!+10! = 672984