<a href="https://colab.research.google.com/github/choudharyaditya917-source/adi/blob/main/aditya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hi")

hi

In [ ]:
print("hello d")

hello d

In [ ]:
#hi i am writing program for hello world

In [ ]:
"""hi
hlo
how are you"""

'hi\nhlo\nhow are you'

In [ ]:
'''hi
hlo
how are you'''

'hi\nhlo\nhow are you'

In [ ]:
print("my name is aditya")

my name is aditya

In [ ]:
name="aditya"
print("name.       :   ", name)
print("Name        :  Aditya")
print("age            :  23")
print("Father's name  :  Gurmeet singh")
print("Mother's name  :  Shashi  kanta")
print("Email    id    :  choudharyaditya917@gmail.com")
print("mobile   no    :  7876161568")
print("education      :  BSC Physics")
print("Address        :  vpo marwari distt.UNA(HP)")

name.       :    aditya
Name        :  Aditya
age            :  23
Father's name  :  Gurmeet singh
Mother's name  :  Shashi  kanta
Email    id    :  choudharyaditya917@gmail.com
mobile   no    :  7876161568
education      :  BSC Physics
Address        :  vpo marwari distt.UNA(HP)

In [ ]:
name="aditya"
print("name.        : ",name)
age="23"
print("age.         : ",age)
father_name="gurmeet singh"
print("father_name. : ",father_name)
mother_name="shashi kanta"
print("mother_name. : ",mother_name)
email_id="choudharyaditya917@gmail.com"
print("email_id.    : ",email_id)
mobile_no="7876161568"
print("mobile_no.   : ",mobile_no)

name.        :  aditya
age.         :  23
father_name. :  gurmeet singh
mother_name. :  shashi kanta
email_id.    :  choudharyaditya917@gmail.com
mobile_no.   :  7876161568

In [ ]:
item1="pizza"
price_of_item1=500
item2="burger"
price_of_item2=100
item3="cake"
price_of_item3=200
item4="shakes"
price_of_item4=500
item5="sandwich"
price_of_item5=150

total_bill=price_of_item1+price_of_item2+price_of_item3+price_of_item4+price_of_item5

print(item1,":",price_of_item1,"Rs")
print(item2,":",price_of_item2,"Rs")
print(item3,":",price_of_item3,"Rs")
print(item4,":",price_of_item4,"Rs")
print(item5,":",price_of_item5,"Rs")
print("total_bill:",total_bill,"Rs")

pizza : 500 Rs
burger : 100 Rs
cake : 200 Rs
shakes : 500 Rs
sandwich : 150 Rs
total_bill: 1450 Rs

In [ ]:
price = 1000
discount =20
discount=(price*discount)/100
final_price=price-discount

print("price:",price,"Rs")
print("discount:",discount,"Rs")
print("final_price:",final_price,"Rs")

In [ ]:
item1=input("burger")
print(item1)
price_of_item1=int(input("300"))
print(price_of_item1)

In [ ]:
# item 1
item1=input("enter item1:" )
price_of_item1=float(input("enter price of item1:"))
discount=float(input("enter item1 discount(%):"))
discount_item1=(price_of_item1*discount)/100
final_price_item1=price_of_item1-discount_item1
print(item1,":",price_of_item1,"Rs")
print(discount_item1,"Rs")
print(final_price_item1,"Rs")

In [ ]:
#item 2
item2 = input("enter item2:")
price_of_item2 = float(input("enter price of item2:"))
discount = float(input("enter item2 discount(%):"))
discount_item2 = (price_of_item2 * discount) / 100
final_price_item2 = price_of_item2 - discount_item2
print(item2, ":", price_of_item2, "Rs")
print(discount_item2, "Rs")
print(final_price_item2, "Rs")

In [ ]:
#item 3
item3 = input("enter item3:")
price_of_item3 = float (input("enter price of item3:"))
discount = float (input("enter item3 discount(%):"))
discount_item3 = (price_of_item3 * discount) / 100
final_price_item3 = price_of_item3 - discount_item3
print(item3, ":", price_of_item3, "Rs")
print(discount_item3, "Rs")
print(final_price_item3, "Rs")

enter item3: cake
enter price of item3:1000
enter item3 discount(%):40
 cake : 1000.0 Rs
400.0 Rs
600.0 Rs

In [ ]:
#product 1
name_of_product=input("enter name of product1:")
price_of_product=float(input("enter price of product1:"))
discount1=float(input("enter discount(%):"))
payable1=price_of_product-(price_of_product*discount1)/100
print(name_of_product,":",price_of_product,"Rs")
print(discount1,"Rs")
print(payable1,"Rs")

enter name of product1: mobile
enter price of product1:75000
enter discount(%):20
 mobile : 75000.0 Rs
20.0 %
60000.0 Rs

In [ ]:
# product 2
name_of_product=input("enter name of product2:")
price_of_product=float(input("enter price of product2:"))
discount2=float(input("enter discount(%):"))
payable2=price_of_product-(price_of_product*discount2)/100
print(name_of_product,":",price_of_product,"Rs")
print(discount2,"%")
print(payable2,"Rs")

In [ ]:
#simple_interest
p = float(input("enter p amoumt:"))
r = float(input("enter rate (as a number):"))
t = float(input("enter time (as a single number, e.g., 3.5 for 3 and a half years):"))
# The following lines had syntax errors and are removed:
# p= 5000
# r= 5%
# t= 3 month 20 days
simple_interest=(p*r*t)/100
print("simple_interest : ", simple_interest)